/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap'); 


/* resets */

* {
    margin: 0; 
    padding: 0; 
    /* box-sizing: border-box;  */
} 

:root {
    --primary-text-color: #3D5913;
    --secondary-text-color: #699920; 
    --accent-color-dark: #405a19; 
    --accent-color: #83BF28; 
    --padding-inline-section: 20px; 
} 

body {
    font-family: 'Poppins', sans-serif; 
    color: var(--primary-text-color); 
} 

h1 {
    font-size: 3rem;
} 

h2 {
    font-size: 2rem;
} 

h3 {
    font-size: 1.5rem;
} 

p {
    font-family: 'Roboto',sans-serif; 
    font-size: 1.2rem; 
    color: var(--secondary-text-color); 
    line-height: 1.6rem; 
    font-weight: 400;
} 

a {
    text-decoration: none; 
    display: inline-block; 
    font-weight: 400;
} 

ul {
    list-style: none;
}


/* utility classes */ 

.small-bold-text {
    font-size: 1rem; 
    font-weight: 500;
} 

.flex {
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 

.hover-link {
    color: var(--primary-text-color); 
    transition: 0.2s ease-in-out;

}

.hover-link:hover {
    color: var(--accent-color); 
} 

.primary-button { 
    background-color: var(--accent-color); 
    border-radius: 6px; 
    font-weight: 500; 
    color: white !important; 
    padding: 12px 24px; 
    box-shadow: 0 0 4px var(--secondary-text-color); 
    transition: 0.2s ease-in-out;
}

.primary-button:hover {
    background-color: var(--accent-color-dark); 
} 

.secondary-button { 
    border: 0.5px solid var(--secondary-text-color); 
    border-radius: 6px; 
    font-weight: 500; 
    color: var(--primary-text-color) !important;
    padding: 12px 24px; 
    box-shadow: 0 0 3px var(--primary-text-color); 
    transition: 0.2s ease-in-out;
}

.secondary-button:hover {
    border-color: var(--accent-color); 
    color: var(--accent-color) !important; 
    box-shadow: 0 0 3px var(--accent-color);
}



/* nav bar */ 
.main-nav {
    justify-content: space-between; 
    margin-top: 10px; 
    padding: 5px 10px;
} 

.logo {
    flex-basis: 410px; 
    justify-content: left;
} 

.logo-text {
    font-family: 'Amita', sans-serif; 
    color: #402419; 
    font-weight: 700; 
}


.logo img{
    width: 100px; 
    padding: 0px 10px; 
    height: 100px;
} 

.nav-links {
    flex-basis: 956px; 
    justify-content: end;
}

.nav-links ul{ 
    gap: 40px; 
}

/**search bar**/
.search{
    display: flex;
    position: absolute; 
    top: 200px; 
    left: 574px; 
    opacity: 1;
}
.search-input{
    width: 600px; 
    height: 40px; 
    padding-left: 12px; 
    padding-right: 34px; 
    font-family: Inter;
    font-size: 14px; 
    background: #EAECEFFF;
    border-radius: 16px 0px 0px 16px; 
    border-width: 1px; 
    border-color: #9095A0FF;
    outline: none;
}
.search-icon{
    position: absolute; 

    left: 647px; 
    width: 100px; 
    height: 42px; 
    padding: 0 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: #FFFFFFFF;
    background: #5E8532FF; 
    opacity: 1; 
    border: none; 
    border-radius: 0px 16px 16px 0px; 
    gap: 0px; 
}